aside {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

#profile-image {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
  border: 2px solid;
  border-radius: 100px;
}
