/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Geologica", sans-serif;

  --title-lg: var(--font-family);
}

html {
  font-size: 62.5%;
}

body {
  font: 1rem var(--title-lg);
  background: #000;
  color: #fff;
  overflow: hidden;
}

body.intro-hidden {
  overflow: auto;
}
