/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Geologica", sans-serif;

  --title-lg: var(--font-family);

  --background-color: #313851;
}

html {
  font-size: 62.5%;
}

body {
  font: 1rem var(--title-lg);
  background: var(--background-color);
  color: #fff;
  overflow: hidden;
}


