.container {
  max-width: 1280px;

  margin: 0 auto;
  padding: 5rem;
}

.contacts-card {
  display: flex;
  border: 2px solid red;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;

    margin: 0 auto;
    padding: 5rem;
  }
}
